*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Baloo Chettan 2', cursive;
    line-height: 1.5;
}
.title-text{
    font-size:40px;
    text-align: center;
    margin: 0 auto 40px;
}

/*==navbar==*/
.header-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background: rgba(110, 41, 35, 0.9);
    padding: 5px 0;
    overflow: hidden;
  }
  
  .header-page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-page-end {
    display: flex;
    align-items: center;
  }
  
  .header-page-nav {
    margin-right: 15px;

  }
  
  .header-page-ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .header-page-link {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px 30px;
    font-weight: 900;
    font-size: 15px;
    position: relative;
    text-transform: uppercase;
  }
  
  .header-page-link::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    background: #fff;
    width: 100%;
    height: calc(100% + 40px);
    transform: translateY(-50%);
    opacity: 0;
    transition: all .2s;
  }
  
  .header-page-link:hover::before {
    opacity: 1;
  }
  
  .header-page-text {
    position: relative;
    transition: color .2s;
  }
  
  .header-page-link:hover {
    color: #1f1f1f;
  }
  
  .header-page-hamburger {
    display: none;
    margin-right: -15px;
  }
  
  @media (max-width: 1200px) {
    .header-page-link {
      font-size: 16px;
      padding: 12px 30px;
    }
  
    .header-page-phone {
      font-size: 14px;
      padding: 7px 16px;
    }
  }
  
  @media (max-width: 992px) {
    .header-page-nav {
      display: none;
    }
  
    .header-page-hamburger {
      display: block;
    }
  
    .header-page {
      padding: 5px 0;
    }
  }
  
  @media (max-width: 480px) {
    .header-page-phone {
      display: none;
    }
  }
  .phone-item{
      font-weight: bold;
      font-family: 'Baloo Chettan 2', cursive;
      color: white;
      text-decoration: none;
      display: inline-block;
      border: 3px solid white;
      padding: 8px 16px;
      border-radius: 21.5px;
      transition: all .2s;
  }
  .phone-item:hover{
      color: #1f1f1f;
      background: white;
  }
  .phone-item:active{
      opacity: 0.8;
  }
  .btn-menu {
    background: none;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    border: 0;
  }
  
  .btn-menu-box {
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  
  .btn-menu-inner::before,
  .btn-menu-inner::after,
  .btn-menu-inner {
    background: #fff;
    width: 100%;
    height: 4px;
    border-radius: 5px;
  }
  
  .btn-menu-inner {
    display: block;
    top: 50%;
    position: relative;
  }
  
  .btn-menu-inner::before,
  .btn-menu-inner::after {
    content: '';
    position: absolute;
    left: 0;
  }
  
  .btn-menu-inner::before {
    top: -10px;
  }
  
  .btn-menu-inner::after {
    bottom: -10px;
  }

/*==end of navbars==*/
/*==header==*/
.header{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)),
    url(./images/grocery.jfif) center/cover no-repeat fixed;
    margin-top: auto;
    padding: 17px 0 100px;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.hero .title{
    color: white;
    font-size: 50px;
}
@media screen and (max-width: 340px) {
    .header{
        justify-content: center;
    }
    .hero .title{
        font-size: calc(2rem + 2vw - 1vh);
        
    }
  }
.hero-button{
    display:inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: #6e2923;
    color: white;
    cursor: pointer;
    border: 2px solid #6e2923;
    margin-top: 10px;
    
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}
.hero-button:hover {
    background:white;
    color: #6e2923;
    border-color:transparent;
}
.pulsate{
    animation: pulsate 3s ease-in-out;
    animation-iteration-count: infinite;
    opacity: .3;
    color: black;
}
@-webkit-keyframes pulsate{
    0%{ opacity: .3;}
    50%{opacity: 1;}
    100%{opacity: .3;}
}

/*==end of header==*/
/*==about us==*/
#about{
    padding:40px;
}
.about{
    margin: 30px 0;
    display: flex;
}
.about-icon .fas{
    font-size: 60px;
    color:#6e2923;
    margin-right: 20px;
}
.about-subtitle{
    text-transform: capitalize;
    color: #6e2923;
    font-size: 25px;
}
.about-info{
    margin-top: 10px;
    line-height: 1.5;
}
.about-icon:hover .fas,
.about-subtitle:hover{
    transition: transform 2s ease, color 2s ease;
    transform: translateY(-10px);
    color: #521914;
    cursor: pointer;
}
@media screen and (min-width:576px){
    .about-center{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about{
        flex: 0 0 calc(50% - 16px);
    }
}
@media screen and (min-width:972px){
    .about{
        flex: 0 0 calc(33.3% - 16px);
    }
}
/*==of end about us==*/
/*==catalogue section==*/
.menu-image{
    min-height: 80vh;
    background: url(images/catalogue.jpg) center/cover fixed no-repeat;
}
.menu-text{
    min-height: 80hv;
    align-items: center;
    background: #6e2923;
    columns: black;
    padding: 40px 0;
}
.menu-text-center{
    width: 90%;
    margin: 0 auto;
}
.menu-text h1{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.menu-text p{
    margin: 20px 0;
    line-height: 2;
}
.menu-text a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: rgb(10, 10, 10);
    color: #6e2923;
    cursor: pointer;
    border: 2px solid black;
    
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}
.menu-text a:hover{
    color:#6e2923;
    background: white;
    border: none;
    
}
@media screen and (min-width:776px){
    .menu{
        display: flex;
    }
    .menu-text{
        flex: 0 0 30%;
    }
    .menu-image{
        flex: 0 0 70%;
        clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
    }
    .menu{
        background:#6e2923;
    }
}
/*== end of catalogue section==*/
/*== social icons==*/
#social-icons{
    height: 150px;
    background: white;
    text-align: center;
    padding: 50px 0 50px 0;
}
#social-icons a{
    display: inline-block;
    padding: 5px  10px;
    margin: 0 5px;
    font-size: 40px;
    border-radius: 5px;
    transition: transform 2s ease, color 2s ease;
}
#social-icons a:hover{
    transform: translateY(-20px);
}
.facebook{
    color:#3b5998;
}
.twitter{
    color: #38a1f3;
}
.instagram{
    color: #e1306c;
}
.plus{
    color: #db4a39;
}
/*== end of social icons==*/
/*== numbers ==*/
.number{
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url(images/background.jpg)center/cover no-repeat fixed;
    padding: 60px 0;
    color: white;
}
.number p{
    font-size: 30px;
    font-weight: bold;
}
.number:hover{
    color: #6e2923;
}
.number .fas{
    font-size: 60px;
    margin: 20px 0;
}
.number h3{
    text-transform: uppercase;
}
@media screen and (min-width:576px){
    #numbers{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:992px){
    #numbers{
        grid-template-columns: repeat(4, 1fr);
    }
}
/*== end of numbers==*/
/*== footer==*/
.footer{
    background: black;
    text-align: center;
}
.footer .text{
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    margin-top: 20px;
}
/*== end of footer==*/
/*== catalogue filter==*/
.container {
    padding: 0 20px;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
  }
.section{
    padding: 110px 0;
}
@media screen and (max-width: 576px) {
    .section {
      padding: 90px 0;
    }
    .container{
        padding: 0 20px;
        width: 1200px;
        max-width: 100%;
        margin: 0 auto;
    }
  }
.catalogue-nav{
    display: flex;
    justify-content: center;
}
.catalogue-nav-wrapper{
    list-style: none;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    display: flex;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 23px;
    overflow: hidden;
}
.catalogue-nav-btn{
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 10px;
    min-width: 150px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Baloo Chettan 2', cursive;
    color: #e6e6e6; 
    border-right: 1px solid #e5e5e5;
    transition: border .2s, background .2s, color .2s;

}
.catalogue-nav-item:last-of-type .catalogue-nav-btn{
    border-right: 0;
}
.catalogue-nav-btn.is-active{
    background: #6e2923;
    color:white
}
.catalogue-nav-btn:not(.is-active):hover{
    color: #6e2923;
}
@media screen and (max-width:530px){
    .catalogue-nav {
        width: 500px;
        max-width: 100%;
        margin: 0 auto;
    }
    .catalogue-nav-wrapper{
        flex-wrap: wrap;
        width: 100%;
    }
    .catalogue-nav-item{
        width: 50%;
        flex-grow: 1;
    }
    .catalogue-nav-btn{
        min-width: 0;
        width: 100%;
        border-top: 1px solid #e5e5e5;
    }
    .catalogue-nav-item:nth-of-type(1) .catalogue-nav-btn, .catalogue-nav-item:nth-of-type(2) .catalogue-nav-btn{
        border-top: 0;
    }
    .catalogue-nav-item:nth-of-type(even) .catalogue-nav-btn{
        border-right: 0;
    }
}
/*== end of catalogue filter==*/
/*== catalogue ==*/
.catalogue{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -35px;
}
.catalogue-item{
    width: calc(100%/3);
    margin-bottom: 90px;
    padding: 0 35px;
  position: relative;
}
@media (max-width:992px) {
    .catalogue-item{
        width: 50%;
    }
    .catalogue-item:nth-of-type(even)::before{
        content: '';
    }
    .catalogue-item:nth-of-type(odd)::before{
        content: none;
    }

}
@media (max-width:767px) {
    .catalogue-item{
        width: 100%;
        margin-bottom: 50px;
    }
    .catalogue-product{
        width: 350px;
        margin: 0 auto;
        max-width: 100%;
        border-bottom: 2px solid #f7f7f7;
        padding-bottom: 50px;
    }
    .catalogue-item:nth-of-type(n)::before{
        content: '';
    }

}
.catalogue-item::before{
    background:#f7f7f7;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    transform: translateX(-50%);
}
.catalogue-item:nth-of-type(3n+1)::before{
    content: none;

}
@media screen and (max-width:1250px) {
    .catalogue{
        margin: 0 -20px;
    }
    .catalogue-item{
        padding-left:20px;
        padding-right: 20px;
    }
}
.product {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
.product-img{
    display:block;
    margin: 0 auto 15px;
    max-width: 100%;
    height: auto;
}
.product-title{
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 22px;
}
.product-description{
    margin: 0;
    color: #9f9f9f;

}
.product-content{
    margin-bottom: 25px;
    flex-grow: 1;
}
.product-sizes{
    display: flex;
    margin-bottom:30px ;
    border-radius: 21px;
    overflow: hidden;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.08);
    justify-content: space-between;
}
.product-size{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: #e6e6e6;
    padding: 13px 33px;
    font-weight: bold;
    font-family: 'Baloo Chettan 2', cursive;
}
.product-size:hover{
    color: #6e2923;
}
.product-size.is-active{
    background: #6e2923;
    color:white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 21px;
}
.product-price{
    font-size: 22px;
    font-weight: bold;
    margin-top: 8;
}
.product-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-btn{
    box-shadow: none;
    background: #6e2923;
    width: 200px;
    padding: 8px 20px;
    text-align: center;
}
@media screen and (min-width:993px) and (max-width:1200px) {
    .product-size{
        padding: 13px 25px;
    } 
}
@media screen and (max-width:370px) {
    .product-size{
        padding: 13px 25px;
    } 
}
@media screen and (max-width:370px) {
    .product-price{
        font-size: 18px;
    } 
}
/*== end of catalogue==*/
